body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}





.container{
    width: 400px;
    border: 1px solid blue;
    padding: 10px;
    background-color: rgb(255, 255, 44);
}

.section{
    list-style-type: disc;
    padding-left: 20px;
}